body {
  font-family: var(--font-main);
  color: var(--color-text-dark);
}
body {
    background-color: var(--color-bg-white);
    color: var(--color-text-dark);
    font-family: var(--font-main);
}

h1 {
  color: var(--color-brand-blue); /* El título principal usará el azul INDEASA */
}